# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Firebase
ios/
android/
GoogleService-Info.plist
google-services.json

# Metro
.metro-health-check*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

