<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22499495595-vuc328a4gd22jhuac4ueqcbjgh7a09ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22499495595-vuc328a4gd22jhuac4ueqcbjgh7a09ra</string>
	<key>API_KEY</key>
	<string>AIzaSyBVqp2uqIrSvB1GzKmAsTAxR0dTcCjua84</string>
	<key>GCM_SENDER_ID</key>
	<string>22499495595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barterapp</string>
	<key>PROJECT_ID</key>
	<string>win-win-180ae</string>
	<key>STORAGE_BUCKET</key>
	<string>win-win-180ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22499495595:ios:f878081e798b504bab71ee</string>
</dict>
</plist>